## .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

## JetBrains Rider
.idea/
*.sln.iml
